/**
 * fil: css/css.css
 * formål: opgaver i responsivt design med flexbox og @media-regler.
 **/

 /* fjern indbygget whitespace i vinduet */ 
 * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Define variables in the :root */
 :root {
   --contrast: rgb(5, 17, 5);
   --backgr: #f1e695;
   --bgA: rgb(239, 120, 211);
   --bgB: rgb(143, 225, 142); 

   /* OPGAVE 1: definer en palette med mindst 5 egentlige farver plus kontrasterne sort og hvid */
 }